page{
  background: var(--globalBgColor1);
}
.blog{
  padding:30rpx 50rpx;
  background: white;
  margin-bottom: 15rpx;
  .top{
    display: flex;
    align-items: center;
    .userImg{
      width: 70rpx;
      height: 70rpx;
      border-radius:50%;
    }
    .right{
      margin-left: 20rpx;
      .username{
        color:var(--globalColor);
        font-weight: 600;
      }
      .createTime{
        color:var(--subColor);
        font-size: 26rpx;
        margin-top: 5rpx;
      }
    }
  }
  .body{
    margin-top: 30rpx;
    .content{
      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-line-clamp: 2;
      // -webkit-box-orient: vertical;
    }
    .pic{
      margin-top: 30rpx;
      margin-left: 20rpx;
      height: 200rpx;
      width: 300rpx;
    }
  }
  .type{
    margin-top: 30rpx;
    display: flex;
    .typeItem{
      display: inline-block;
      margin-left: 20rpx;
      background: var(--lightColor);
      padding:5rpx 10rpx;
      font-size: 28rpx;
      border-radius: 50rpx;
      width: 150rpx;
      text-align: center;
      color:var(--descColor);
    }
    .typeItem:first-child{
      margin-left: 0;
    }
  }
  .bottom{
    display: flex;
    margin-top: 30rpx;
    .like{
      font-size: 28rpx;
      color:var(--descColor);
      .icon{
        background: rgb(98, 202, 98);
        font-size: 36rpx;
        border-radius: 50%;
        padding:5rpx;
        color:white;
      }
    }
    .feedback{
      font-size: 28rpx;
      margin-left: 20rpx;
      margin-top: 5rpx;
      color:var(--descColor);
    }
    .look{
      font-size: 28rpx;
      margin-left: 20rpx;
      margin-top: 5rpx;
      color:var(--descColor);
    }
  }
  .loading{
    text-align: center;
    padding:30rpx 0;
  }
}